{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": false,
      "dynamicImport": true
    },
    "target": "es2022",
    "baseUrl": ".",
    "paths": {
      "@/*": ["./*"],
      "@controllers/*": ["./src/controller/*"],
      "@routes/*": ["./src/routes/*"],
      "@constants/*": ["./src/constants/*"],
      "@configs/*": ["./src/config/*"],
      "@middlewares/*": ["./src/middleware/*"],
      "@services/*": ["./src/service/*"],
      "@utils/*": ["./src/utils/*"],
      "@helper/*": ["./src/helper/*"],
      "@types": ["./src/types.ts"]
    }
  },
  "module": {
    "type": "nodenext",
    "resolveFully": true
  }
}
